
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


*:focus {
  outline: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 767px) {
  .container {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 1rem; 
  }
}

.font-protest-riot {
  font-family: 'Protest Riot', sans-serif;
}

@font-face {
  font-family: northwave;
  src: url(/North_Wave.otf);
}

.northwave {
  font-family: northwave;
}